nav {
  display: flex;
  justify-content: flex-end;

  a {
    margin: 0 2em;
    padding: 1em;
    color: black;
    text-decoration: none;

    @include hocus {
      background-color: lightgrey;
    }
  }
}
