.AllQuizzes {
  display: grid;
  position: relative;
  width: 100%;
  grid-auto-rows: 100px;
  grid-auto-columns: 150px;
  grid-gap: 10px 15px;
}

.quiz-maker {
  background: #650de8;
  color: #fff;
  grid-column: 2 / 4;
  grid-row: 2 / 6;
  padding: 20px;
  input,
  textarea {
    display: block;
    margin: 8px 0;
    border-radius: 5px;
  }
  button {
    width: 100%;
    color: #650de8;
    font-weight: bold;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    height: 35px;
  }
}

.quiz {
  width: 250px;
  height: 150px;
  font-family: "Roboto Slab" serif;
  font-size: 12px;
  margin: 0 auto 0 0;
  p:last-of-type {
    height: 50px;
    color: #fff;
  }
}

.quiz-section {
  display: flex;
  flex-wrap: wrap;
  > h1 {
    margin: 0;
    position: absolute;
    left: 490px;
    text-decoration: underline;
  }
  grid-auto-columns: 250px;
  &:first-of-type {
    > h1 {
      bottom: 410px;
    }
    .quiz {
      p:last-of-type {
        background: #215fe9;
      }
    }
    grid-column: 4/9;
    grid-row: 2/4;
  }
  &:last-of-type {
    width: 850px;
    height: 350px;
    > h1 {
      bottom: 190px;
    }
    .quiz {
      p:last-of-type {
        background: #55c0ed;
      }
    }
    grid-column: 4/9;
    grid-row: 4/6;
  }
}
