.quiz {
  height: 150px;
  width: 230px;
  margin-bottom: 2em;
  background-color: color-list("text-light");
  color: color-list("text-dark");
  font-family: "Roboto Slab", serif;
  font-size: 12px;

  h2 {
    height: 40px;
    margin: 0;
    padding: 0.5em;
  }

  .quiz-body {
    height: 70px;
    
    p {
      margin: 0;
      padding: 0 0.75em;
    }
  }

  .quiz-footer{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75em;
    background-color: color-list("accent");
    color: color-list("text-light");

    &.secondary {
      background-color: color-list("secondary");

    }

    &.tertiary {
      background-color: color-list("tertiary");

    }

    a {
      color: color-list("text-light");
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}