.header-wrapper {
  height: 64px;
}
.header {
  background: #0f143a;
}
.footer {
  li {
    margin: 0 2.5%;
  }
}
.all-quizzes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: color-list('background');

  .all-quizzes-left {
    height: 100%;
    padding: 4em 0 0 4em;
    display: flex;
    flex-direction: column;

    .quiz-start {
      width: 400px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      color: color-list('text-light');
      margin-right: 5%;
      position: relative;

      h1 {
        width: 100%;
        padding: 0.5em 0;
        font-size: 1.1em;
        text-transform: uppercase;
        border-bottom: 3px solid color-list('accent');
      }

      .quiz-start-body {
        height: 450px;
        display: flex;
        flex-direction: column;
        background-color: color-list('accent');

        label {
          font-size: 0.9em;
          padding: 2em 1em 0.5em 1em;
          border-radius: 6px;
          border: none;
          outline: none;
        }

        input {
          margin: 0 1em;
          padding: 0.5em;
          border-radius: 6px;
          border: none;
          outline: none;
        }

        textarea {
          margin: 0 1em;
          padding: 0.5em;
          height: 150px;
          resize: none;
          border-radius: 6px;
          border: none;
          outline: none;
        }

        //will move to button component
        button {
          margin: 2.5em 1em;
          padding: 0.5em 0;
          border-radius: 8px;
          border: none;
          outline: none;
          background-color: color-list('text-light');
          color: color-list('accent');
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: 700;

          @include hocus {
            background-color: color-list('tertiary');
            color: color-list('text-light');
          }
        }
      }
    }
  }

  .all-quizzes-right {
    height: 100%;
    padding: 4em 4em 0 0;

    .quiz-section {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      color: color-list('text-light');

      .quiz:nth-of-type(n + 2) {
        margin-left: 10px;
      }

      .quiz-section-heading {
        width: 100%;
        padding: 0.5em 0;
        font-size: 1.1em;
        text-transform: uppercase;
        border-bottom: 3px solid color-list('accent');

        &.secondary {
          border-bottom: 3px solid color-list('secondary');
        }

        &.tertiary {
          border-bottom: 3px solid color-list('tertiary');
        }
      }

      .quiz-section-body {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      .quiz-section-body-wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}

@media(max-width: $max-width) {
  .all-quizzes {
    flex-direction: column;
    display: block;
    overflow: scroll;
    .all-quizzes-left {
      padding: 4em 0 0 0;

      .quiz-start {
        margin: 0 auto;
      }
    }
    .all-quizzes-right {
      padding: 0;
      .quiz-section {
        margin: 0 auto 50px auto;
        .quiz-section-body { display: block; }
        .quiz {
          width: 100%;
        }
        .quiz:nth-of-type(n + 2) {
          margin-left: 0px;
        }
        
      }
    }

  }
  
}
@media(max-width: 500px) {
  .header > a {
    font-size: 20px;
    margin-left: 15px;
  }
  .header .header-right a {
    margin-right: 10px;
  }
}
