.analysis {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 90px 0 120px 0;
  display: block;
  text-align: center;
  background-color: color-list("background");
  color: color-list("text-light");

  .analysis-quiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1em 0;
    border-bottom: 1px solid color-list("borders");

    h1, h3, p {
      margin: 0.5em 0;
    }
    .analysis-quiz-left {
      width: 70%;
      text-align: left;
    }

    .analysis-quiz-right {
      width: 30%;
      text-align: right;
    }
  }
}
