.drag-screen {
  color: #c7c7c7;
  background-color: #fff;
  letter-spacing: 0.05rem;
  width: 30%;
  height: 100%;
  flex-basis: auto;
  padding: 20px;

  p {
    color: color-list('text-dark');
    font-weight: bolder;
  }

  .decorated-box {
    border: 1px dashed color-list('text-dark');
    color: color-list('text-dark');
    background-color: color-list('text-light');
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: move;
    float: left;
  }
}
