.results-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color-list("background");
  color: color-list("text-light");

  .links-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .results-links {
      width: 200px;
      height: 50px;
      margin: 0.5em;
      background-color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: color-list("text-dark");
      font-weight: 700;
      border-radius: 2px;
      border: none;
      outline: none;
    }
  }

}
